html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

#title{
    text-align: center;
    font-size: 5rem;
    margin-top: 200px;
    font-family: "Arvo", cursive;
    text-shadow: 3px 0 #DA0463;
}

body{
    background-color: #1cff03;
    font-family: Arial, sans-serif;
    color: #333;
}

.set{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 40px;
    padding: 20px;
}

button{
    background-color: #ffffff;
    border: none;
    padding: 60px 70px;
    text-align: center;
    display: inline-block;
    font-size: 1.5rem;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    color: black;
}

footer {
    text-align: center;
    font-size: 1.2rem;
    padding: 1rem 0;
    margin-top: auto;
}

.container {
    flex: 1;
}

.w{
    background-image: url("images/tom1.png");
}

.a{
    background-image: url("images/tom2.png");
}

.s{
    background-image: url("images/tom3.png");
}
.d{
    background-image: url("images/tom4.png");
}
.j{
    background-image: url("images/snare.png");
}
.k{
    background-image: url("images/crash.png");
}
.l{
    background-image: url("images/kick.png");
}
.pressed {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    opacity: 0.8;
}